.login{
    margin: auto;
  width: 50%;
  padding: 10px;
}

.login-header{
    margin: auto;
    width: 50%;
}
.login-hyperlink{
    margin: auto;
    width: 50%;
}
.login-info{
    margin: auto;
    width: 50%;

    .ant-form-item-label>label {
        
    }
}
